<div class="container">
<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<p>Reviews</p>
<% @reviews.each do |r| %>
<p><%= r.rating %> | <%= r.content %></p>
<% end %>

<%= link_to "Add review", new_restaurant_review_path(@restaurant) %>
<%= link_to "List of restaurants", restaurants_path %>
</div>